name: Build

on: [push, pull_request]

jobs:
  build:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install MSVC 1.5
        uses: actions/checkout@v4
        with:
          repository: madebr/msvc152c
          path: tools\msvc15

      - name: Install VFW SDK
        uses: actions/checkout@v4
        with:
          repository: joncampbell123/windows_sdk_collection
          sparse-checkout: win/3.1/msvfw
          path: winsdk

      - name: Move VFW files
        shell: cmd
        run: |
          mkdir DOS
          cd DOS
          mkdir vfwdk
          robocopy C:\winsdk\win\3.1\msvfw C:\DOS\vfwdk /S

      - name: Build
        shell: cmd
        run: |
          call .\msvc152c\bin\msvcvars.bat x86
          python build.py
          cd build
          nmake -f makefile

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: Win32
          path: |
            build/JMAN.EXE
            build/JMAN.PDB
            build/JMAN.MAP
