name: Build

on: [push, pull_request]

jobs:
  build:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install MSVC 1.5
        uses: actions/checkout@v4
        with:
          repository: madebr/msvc152c
          path: msvc152c

      - name: Install VFW SDK
        uses: actions/checkout@v4
        with:
          repository: joncampbell123/windows_sdk_collection
          sparse-checkout: win/3.1/msvfw
          path: winsdk

      - name: Build
        shell: cmd
        run: |
          python build.py
          call .\msvc152c\bin\msvcvars.bat x86
          cd build
          nmake -f makefile

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: Win32
          path: |
            build/JMAN.EXE
            build/JMAN.PDB
            build/JMAN.MAP
