name: Download originals

on:
  workflow_call:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:

    - name: Restore original binaries
      id: cache
      uses: actions/cache@v3
      with:
        path: jman
        key: jman

    - name: Download original binaries
      if: ${{ !steps.cache.outputs.cache-hit }}
      run: |
        wget http://disinvite.com/decomp/JMAN10.zip
        wget http://disinvite.com/decomp/JMAN11.zip
        mkdir -p jman/10
        mkdir -p jman/11
        unzip JMAN10.zip -d jman/10
        unzip JMAN11.zip -d jman/11

    - name: Verify files
      run: |
        echo "243f62328af86447376d1d94a2458bc96e64bc9b0e70c27b1470a4c21a40f2a0 jman/10/JMAN.EXE" | sha256sum --check
        echo "95e978a46683babc4cedd9a6d4c730ac3072e4b908061a6b274e9f5af106a090 jman/11/JMAN.EXE" | sha256sum --check
